{% extends "base.html" %}
{% block content %}
<div class="row justify-content-md-center">
    <div class="col-md-6 col-lg-5">
        {# Título de la página - pasado desde la ruta #}
        <h1 class="mb-4 text-center">{{ title }}</h1>
        <form action="" method="post" novalidate>
            {{ form.hidden_tag() }} {# CSRF #}

            {# Campo Nombre de la Mascota #}
            <div class="form-group">
                {{ form.nombre_mascota.label(class='form-label') }}<br>
                {{ form.nombre_mascota(class='form-control', placeholder='Nombre de tu mascota') }}
                {% for error in form.nombre_mascota.errors %}
                <div class="text-danger small">[{{ error }}]</div>
                {% endfor %}
            </div>

            {# Campo Especie #}
             <div class="form-group">
                {{ form.especie.label(class='form-label') }}<br>
                {{ form.especie(class='form-control', placeholder='Ej: Perro, Gato') }}
                {% for error in form.especie.errors %}
                <div class="text-danger small">[{{ error }}]</div>
                {% endfor %}
            </div>

            {# Campo Raza #}
             <div class="form-group">
                {{ form.raza.label(class='form-label') }}<br>
                {{ form.raza(class='form-control', placeholder='Ej: Labrador (Opcional)') }}
                {% for error in form.raza.errors %}
                <div class="text-danger small">[{{ error }}]</div>
                {% endfor %}
            </div>

            {# Campo Fecha de Nacimiento (importante el formato YYYY-MM-DD) #}
             <div class="form-group">
                {{ form.fecha_nacimiento.label(class='form-label') }}<br>
                {# Tipo 'date' en HTML5, el formato lo maneja WTForms con 'format' en DateField #}
                {{ form.fecha_nacimiento(class='form-control', type='date') }}
                {% for error in form.fecha_nacimiento.errors %}
                <div class="text-danger small">[{{ error }}]</div>
                {% endfor %}
            </div>

            {# Botón de Submit #}
            <div class="form-group">
                {{ form.submit(class='btn btn-primary btn-block mt-4') }}
            </div>
        </form>
    </div>
</div>
{% endblock %}